<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>Instasong</title>
</head>
<body class="home">
    <div class="nav">
        <h2>InstaSong</h2>
        <div class="nav-btn">
            <button id="Random" hidden onClick="location.href='random'"></button>
            <label for="Random" class="glow-on-hover">Search a Random Song</label>
        </div>
    </div>
    <div class="button-gp">
        <form action = "/" method = "POST" 
            enctype = "multipart/form-data">
            <div class="btn">
                <input type = "file" name = "file" id = "actual-btn" hidden/> 
                <label for="actual-btn" class="glow-on-hover">Choose File</label>
            </div>   
            <div class="btn">
                <input type = "submit" id = "submit-btn" hidden/>
                <label for="submit-btn" class="glow-on-hover">Submit File</label>
        </form>
    </div>
</body>
</html>